:root {
    --brand-color: #8DBF4F;
    --brand-color-dark: #72a337;
    --gray-backgorund: #dfe4ea;
  }

html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.report {
    margin: 20px;
    width: 700px;
    height: fit-content;
    background-color: white;
    border-radius: 5px;
}

.report-content {
    margin: 10px;
    margin-bottom: 20px;
}

.report-title {
    margin: 10px;
}

.report-control {
    margin: 10px;
    text-align: right;
}
