:root {
  --brand-color: #8DBF4F;
  --gray-backgorund: #dfe4ea;
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  font-family: 'Roboto', sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar-link {
  color: var(--gray-backgorund);
}

.navbar-link:hover {
  cursor: pointer;
}

nav li {
  text-align: center;
}

.nav-menu .active {
  color: var(--brand-color);
}

.logo {
  margin: 5px;
  font-size: 2rem;
  height: 50px;
  width: 50px;
}

.logo img {
  height: 50px;
  border-radius: 50%;
}

.nav-gen {
  display: grid;
  background-color: var(--bs-dark);
  color: white;
  font-size: 1.5rem;
  grid-template-columns: 70px 1fr;
  align-items: center;
  justify-items: end;
  margin: 0;
  padding: 0;
}

.nav-menu {
  background-color: var(--bs-dark);
  color: white;
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 2rem;
  margin-right: 50px;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  background: var(--gray-backgorund);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2000' height='437'%3E%3Cpath fill='%238DBF45' fill-rule='evenodd' d='M0 249.974c218.558 116.035 460.05 116.035 1224.475 0s802.933-136.035 715.525 0V0H0v349.974z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
}

.footer {
  height: 50px;
  background-color: var(--bs-dark);
}